<h2 style="text-align: center;">Fall 2024 - P4</h2>

<table>
    <tr>
        <td>
            <a href="{{site.baseurl}}//bigidea3-hacks">Big Idea 3</a>
        </td>
        <td>
            <a href="https://maryamabdul-aziz.github.io/maryam_2025//2024/10/11/3.2-hacks_IPYNB_2_.html">.2</a>
        </td>
        <td>
            <a href="https://maryamabdul-aziz.github.io/maryam_2025//2024/10/04/3.3-hacks2_IPYNB_2_.html">.3</a>
        </td>
        <td>
            <a href="https://maryamabdul-aziz.github.io/maryam_2025//2024/10/06/3.5-hacks2_IPYNB_2_.html">.5</a>
        </td>
        <td>
            <a href="https://maryamabdul-aziz.github.io/maryam_2025//3-5-hackspost">.5 (HTML)</a>
        </td>        
        <td>
            <a href="https://maryamabdul-aziz.github.io/maryam_2025//2024/10/09/3.6-hacks_IPYNB_2_.html">.6</a>
        </td>
        <td>
            <a href="https://maryamabdul-aziz.github.io/maryam_2025//2024/10/09/3.7-hacks_IPYNB_2_.html">.7</a>
        </td>
        <td>
            <a href="https://maryamabdul-aziz.github.io/maryam_2025//2024/10/09/3.8-hacks_IPYNB_2_.html">.8</a>
        </td>
        <td>
            <a href="https://maryamabdul-aziz.github.io/maryam_2025//2024/10/10/3.10-hacks_IPYNB_2_.html">.10</a>
        </td>
        <td>
            <a href="https://maryamabdul-aziz.github.io/maryam_2025//2024/10/10/3.10B-hacks_IPYNB_2_.html">.10B</a>
        </td>
    </tr>
</table>