<h2 style="text-align: center;">Fall 2024 - P4</h2>

<table>
    <tr>
        <td class="dropdownp4">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p4/fundamentals">Big Idea 3</a>
        </td>
        <td class="dropdownp4">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p4/3-1-1">.1</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p4/3-1-1">.1.1 Python Variables</a>            
                <a href="{{site.baseurl}}/csp/big-idea/p4/3-1-2">.1.2 Python Data Types</a>
                <a href="{{site.baseurl}}/csp/big-idea/p4/3-1-3">.1.3 JavaScript Variables</a>
                <a href="{{site.baseurl}}/csp/big-idea/p4/3-1-4">.1.4 JavaScript Data Types</a>
            </div>
        </td>
        <td class="dropdownp4">
            <a class="dropbtn" href="{{site.baseurl}}/csp/big-idea/p4/3-4">.4</a>
            <div class="dropdown-content">
                <a href="{{site.baseurl}}/csp/big-idea/p4/3-4-1">.4.1 Strings</a>            
                <a href="{{site.baseurl}}/csp/big-idea/p4/3-4-2">.4.2 Strings and Functions</a>
                <a href="{{site.baseurl}}/csp/big-idea/p4/3-4-3">.4.3 JavaScript Strings</a>
                <a href="{{site.baseurl}}/csp/big-idea/p4/3-4-4">.4.4 Strings Hacks</a>
            </div>
        </td>
    </tr>
</table>